* {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	color: #292d2f;
	transition: all 1s ease;
}

body {
	background-color: #ecebec;
}


/* NAVIGATION */
nav {
	padding: 20px 25px 10px;
    position: fixed;
    background-color: #ecebec;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}


/* LOGO */
.logo {
	display: inline-block;
	float: left;
	font-family: 'Cookie', cursive;
}

.logo i {
	color: #f27d9e;
	margin-right: 3px;
}

.logo span {
	font-family: 'Cookie', cursive;
	font-size: 34px;
	color: #292d2f;
}/*END LOGO*/


/* BUTTONS */
.nav-buttons {
	display: inline-block;
	float: right;
	list-style: none;
	margin-top: 10px;
	width: 67%;
	text-align: right;
}

.nav-buttons li {
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	margin: 0px 5%;
	font-weight: 600;
}

.nav-buttons a {
	color: #292d2f;
	text-decoration: none;
	text-transform: uppercase;
}

.nav-buttons a:hover {
	color: #f27d9e;
	text-decoration: underline;
}/* END NAVIGATION */


/* TOP HORIZONTAL RULE */
hr {
	width: 95%;
	margin: 0 auto;
	margin-top: 75px;
	border: solid #292d2f 1px;
}


/* HEADER */
header {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	color: #292d2f;
}

h1 {
	margin-top: 50px;
	font-size: 28px;
}

h1 span {
	color: #f27d9e;
}

h2 {
	margin-top: 5px;
	margin-bottom: 45px;
	font-size: 14px;
	font-weight: 600;
}

header img {
	width: 90%;
	border-radius: 10px;
	box-shadow: 5px 5px 3px 0px #6b6b6b;
}/* END HEADER */


/* MAIN SECTION */
main h3{
	font-family: 'Cookie', cursive;
	text-align: center;
	color:  #f27d9e;
	font-size: 34px;
	margin-top: 40px;
	margin-bottom: 15px;
}

div.main-left, div.main-right {
	display: inline-block;
	width: 45%;
	padding: 2.2%;
	vertical-align: top;
}


/* PROJECTS GRID */
div.grid{
	width: 90%;
	margin: 0 auto;
	padding-top: 60px;
	text-align: center;
}

div.grid .item{
	width: 17%;
	min-width: 125px;
	margin: 1.3%;
	border-radius: 10px;
	background-color: #f27d9e;
	display: inline-block;
	overflow: hidden;
	text-align: left;
	box-shadow: 5px 5px 3px 0px #6b6b6b;
}


/* PROJECT IMAGE */
div.grid .item img{
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	width: 100%;
	margin-bottom: -6px;
}

div.grid .item img:hover{
	opacity: .65;
}

/* PROJECT HEADER */
div.grid .item h4{
	font-weight: 400;
	font-size: 20px;
	padding-left: 10px;
	background-color: #ffffff;

}

/* PROJECT SUB-HEADING */
div.grid .item p{
	font-size: 12px;
	color: #f27d9e;
	padding-left: 10px;
	padding-bottom: 10px;
	background-color: #ffffff;
}/*END GRID*/


/* GOODBYE TEXT */
div.goodbye {
	text-align: center;
	margin: 50px auto 30px auto;
}

div.goodbye p{
	font-family: 'Cookie', cursive;
	font-size: 36px;
	color: #f27d9e;
}/*END MAIN*/


/* FOOTER */
footer {
	background-color: #313131;
	padding: 40px 10px 30px 10px;
}

.contact, .social {
	display: inline-block;
	width: 49%;
}


/* CONTACT FORM */
.contact {
	text-align: left;
}

.contact form {
	width: 90%;
	margin: 0 auto;
}

.contact form input:last-child {
	width: 100px;
}

.contact form input:last-child:hover {
	cursor: pointer;
	background-color: #f27d9e;
}

.contact input, .contact textarea {
	width: 100%;
	border: none;
	margin: 5px auto;
	background-color: #d8d8d8;
	border-radius: 3px;
	outline: none;
	padding: 5px;
}

.contact h5{
	font-family: 'Cookie', cursive;
	font-size: 36px;
	color: #f27d9e;
	width: 90%;
	margin: 0 auto;
}/*END CONTACT FORM*/


/* SOCIAL BUTTONS */
.social {
	text-align: center;
	vertical-align: top;
	padding-top: 75px;
}

.social .fa {
	color: #f27d9e;
	margin: 0 2.5%;
}

.social .fa:hover {
	color: #ffffff;
}/*END FOOTER*/



/* RESPONSIVENESS */
@media (max-width: 790px) {
	div.main-left, div.main-right {
		display: block;
		margin: 0 auto;
		width: 80%;
	}

	div.main-left p, div.main-right p {
		text-align: justify;
	}
}

@media (max-width: 620px) {

	nav {
		padding: 20px 25px;
	}

	.logo {
		display: none;
	}

	.nav-buttons {
		display: block;
		float: none;
		text-align: center;
		width: 100%;
	}

	.nav-buttons li {
		font-size: 18px;
		margin: 0 2%;
	}

	header h1 {
		font-size: 24px;
	}

	div.grid .item {
		width: 45%;
	}

	.contact {
		width: 100%;
	}

	.social {
		width: 100%;
	}
}

@media (max-width: 450px) {
	.nav-buttons li {
		font-size: 15px;
	}

}