* {
	margin: 0;
	padding: 0; 
}


/* NAVIGATION */
nav {
	margin: 45px 25px 10px;
	height: 40px;
}


/* LOGO */
.logo {
	display: inline-block;
	float: left;
	font-family: 'Cookie', cursive;
}

.logo i {
	color: #ed9eb8;
}

.logo span {
	font-family: 'Cookie', cursive;
	font-size: 28px;	
}

/* BUTTONS */
.nav-buttons {
	display: inline-block;
	float: right;
	list-style: none;
	margin-top: 10px;
}

.nav-buttons li {
	display: inline-block;
	width: 75px;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	margin: 0px 5px;
	font-weight: 600;
}

.nav-buttons a {
	color: black;
	text-decoration: none;
	text-transform: uppercase;
}/* END NAVIGATION */

hr {
	width: 95%;
	margin: 0 auto;
}