* {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

body {
	background-color: #ecebec;
}

/* NAVIGATION */
nav {
	margin: 45px 25px 10px;
	height: 40px;
}


/* LOGO */
.logo {
	display: inline-block;
	float: left;
	font-family: 'Cookie', cursive;
}

.logo i {
	color: #f27d9e;
	margin-right: 3px;
}

.logo span {
	font-family: 'Cookie', cursive;
	font-size: 28px;
	color: #383838;

}

/* BUTTONS */
.nav-buttons {
	display: inline-block;
	float: right;
	list-style: none;
	margin-top: 10px;
}

.nav-buttons li {
	display: inline-block;
	width: 75px;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	margin: 0px 5px;
	font-weight: 600;
}

.nav-buttons a {
	color: #383838;
	text-decoration: none;
	text-transform: uppercase;
}/* END NAVIGATION */

hr {
	width: 95%;
	margin: 0 auto;
	border: solid #383838 1px;
}


/* HEADER */
header {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	color: #383838;
}

h1 {
	margin-top: 50px;
	font-size: 28px;
}

h1 span {
	color: #f27d9e;
}

h2 {
	margin-top: 5px;
	margin-bottom: 45px;
	font-size: 14px;
	font-weight: 600;
}

header img {
	border-radius: 10px;
}/* END HEADER */


/* MAIN SECTION */
main h3{
	font-family: 'Cookie', cursive;
	text-align: center;
	color:  #f27d9e;
	font-size: 30px;
	margin-top: 40px;
	margin-bottom: 25px;
}

div.main-left, div.main-right {
	display: inline-block;
	width: 45%;
	padding: 2.2%;
	vertical-align: top;
}


/* PROJECTS GRID */
div.grid{
	width: 90%;
	margin: 0 auto;
	text-align: center;
}

div.grid .item{
	width: 17%;
	margin: 1.3%;
	border-radius: 5px;
	background-color: #ffffff;
	display: inline-block;
	overflow: hidden;
	text-align: left;
	box-shadow: 5px 5px 3px 0px #6b6b6b;
}

div.grid .item img{
	width: 100%;
}

div.grid .item h4{
	font-weight: 400;
	font-size: 20px;
	margin-left: 10px;
}

div.grid .item p{
	font-size: 12px;
	color: #f27d9e;
	margin-left: 10px;
	margin-bottom: 10px;
}/*END GRID*/


/* GOODBYE TEXT */
div.goodbye {
	text-align: center;
	margin: 50px auto 30px auto;
}

div.goodbye p{
	font-family: 'Cookie', cursive;
	font-size: 36px;
	color: #f27d9e;
}/*END MAIN*/